@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
    
* {
    margin: 0;
    padding: 0;
  }
html {
    font-size: 62,5%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  
body {
    
    background-attachment: sticky;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

h1{
    font-family: roboto;
    font-weight: 700;
    text-align: center;
}
h2{
    font-family: roboto;
    font-weight: 600;
    text-align: center;
}
h3{
    font-family: roboto;
    font-weight: 400;
    text-align: center;
}
h5 {
    font-family: roboto;
    font-weight: 300;
    text-align: center;
}
h6 {
    font-family: roboto;
    font-weight: 100;
    text-align: center;
}
.cantidadLibros{
    font-family: roboto;
    font-weight: 800;
    font-size: larger;
    color: blueviolet;
    text-decoration: none;
  
}
.nav{
    background: radial-gradient(circle, rgba(203,174,238,1) 0%, rgba(148,233,203,0.989233193277311) 100%);
    z-index: 1;
}
.nav-carrito{
    align-self: flex-end;
}


.tapaLibro{
    width: 20vh;
    height: auto;
    margin: 5% auto;
    
}
.btn-more, .btn-nav{
    background-color: #a567f1;
    color: white;    
}
.center{
    text-align: center;
}
.card{
    
    background: rgb(203,174,238);
    background: radial-gradient(circle, rgba(203,174,238,1) 0%, rgba(148,233,203,0.989233193277311) 100%);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#inputSearch {
    font-size: larger;
}
#form {
    width: 300px;
    margin: auto;
}


